.action-buttons {
	row-gap: 0.5rem;
	column-gap: 1rem;
	align-items: center;
}
.action-buttons .btn {
	padding: 0.4rem 0.75rem;
}

.btn-text {
    margin-left: 0.4rem;
}

.table th,
.table td {
	text-align: center;
	vertical-align: middle;
}

table.table td.align-middle {
	vertical-align: middle !important;
}

@media (max-width: 576px) {
	.action-buttons {
		flex-direction: column;
		align-items: center;
		gap: 1px;
	}
	.action-buttons .btn {
		width: 90%;
		max-width: 260px;
		margin: 0.6rem 0;
	}
}

