{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <div class="container-md" style="width: 80vw; max-width: 80vw;">
    <a class="navbar-brand d-flex align-items-center" href="{% url 'home' %}">
      <img src="{% static 'images/logo.png' %}" alt="Sevirun" class="me-2 navbar-logo">
      <strong class="ms-1">Sevirun</strong>
    </a>

    <!-- Three bars for menu in smaller screens -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Inicio</a></li>
        {% if not user.is_staff and not user.is_superuser %}
          <li class="nav-item"><a class="nav-link" href="{% url 'products' %}?from={{ request.path }}">Tienda</a></li>
        {% endif %}
        <li class="nav-item"><a class="nav-link" href="{% url 'categories' %}">Categorías</a></li>
        {% if user.is_staff or user.is_superuser %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="gestionDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Gestión
            </a>
            <ul class="dropdown-menu" aria-labelledby="gestionDropdown">
              <li class="nav-item"><a class="nav-link" href="{% url 'products' %}?from={{ request.path }}">Productos</a></li>
              <li class="nav-item"><a class="nav-link" href="/users/admin/all?from={{ request.path }}">Usuarios</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'orders' %}?from={{ request.path }}">Pedidos</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'catalog_management' %}?from={{ request.path }}">Catálogo</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'product_stock_view' %}?from={{ request.path }}">Stock</a></li>
            </ul>
          </li>
          <li class="nav-item"><a class="nav-link" href="/orders/sales">Ventas</a></li>
        {% endif %}
        {% if user.is_authenticated and not user.is_staff and not user.is_superuser %}
            <li class="nav-item"><a class="nav-link" href="/orders">Mis pedidos</a></li>
        {% endif %}
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% if not user.is_staff and not user.is_superuser %}
          <li class="nav-item"><a class="nav-link" href="/cart/">Carrito</a></li>
        {% endif %}
        <li class="nav-item"><a class="nav-link" href="/about/">Acerca de</a></li>
        <li class="nav-item"><a class="nav-link" href="/contact/">Contacto</a></li>
        {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="/accounts/profile">Mi Perfil</a></li>
            <li class="nav-item"><a class="nav-link" href="/accounts/logout">Cerrar Sesión</a></li>
        {% else %}
            <li class="nav-item"><a class="nav-link" href="/accounts/login">Identificarse</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>