{% extends 'base.html' %}
{% load static %}

{% block override_style %}
    <link rel = "stylesheet" href = "{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
    <main class = "container py-4">
        <h1>Tienda</h1>
        <hr/>
        <aside class = "ml-4 mb-4 d-flex">
            <div class = "d-flex flex-fill me-4">
                {% if no_filters %}
                    <a href = "{% url 'home' %}" class = "text-dark">← Volver</a>
                {% else %}
                    <a href = "{% url 'categories' %}" class = "text-dark">← Volver</a>
                {% endif %}
            </div>
        </aside>
        <h2 class = "h5 mb-3 fw-bold">Búsqueda y filtros:</h2>
        <aside class = "ml-4 mb-4 d-flex justify-content-center">
            <div class = "card h-100 bg-white text-dark flex-fill">
                <form class = "d-flex flex-column flex-fill" method = "GET" action = "{% url 'products' %}">
                    {% csrf_token %}
                    <label for = "product-search">Buscar por nombre o modelo:</label>
                    <div class = "d-flex flex-fill mb-4">
                        <input type = "search" id = "product-search" name = "product-search" class = "form-control" placeholder = "Introducir nombre o modelo"/>
                        <button class = "btn btn-sm btn-primary" id = "product-search-button" type = "submit">Buscar</button>
                    </div>
                    <div class = "d-flex flex-fill justify-content-around">
                        {{ filters }}
                    </div>
                </form>
            </div>
        </aside>
        <section>
            <h2 class = "h5 mb-3 fw-bold">Productos:</h2>
            <div class = "row g-3">
                {% if products %}
                    {% for p in products %}
                        <div class = "col-6 col-md-4">
                            <div class = "card p-2 h-100 bg-white text-dark">
                                <img src = "{{ p.picture.url }}" class = "card-img-top rounded" alt = "{{ p.name }}">
                                <div class = "card-body p-2">
                                    <h5 class = "card-title mb-1 fs-6"><strong>{{p.name}}</strong></h5>

                                    <div class = "brand">
                                        {{ p.model.brand.name }}
                                    </div>
                                    
                                    <div class = "mb-2">
                                        {% if p.is_highlighted %}
                                            <span class = "badge bg-warning text-dark">Destacado</span>
                                        {% endif %}
                                        {% if p.is_available %}
                                            <span class = "badge bg-success">Disponible</span>
                                        {% else %}
                                            <span class = "badge bg-danger">No disponible</span>
                                        {% endif %}
                                    </div>

                                    <p class = "price">
                                        {% if p.price_on_sale %}
                                            <span class = "text-muted text-decoration-line-through">{{ p.price }}€</span>
                                            <span class = "ms-2 text-danger fw-bold">{{ p.price_on_sale }}€</span>
                                        {% else %}
                                            <span class = "fw-bold">{{ p.price }}€</span>
                                        {% endif %}
                                    </p>
                                    <a href = "{% url 'product_detail' p.pk %}" class = "btn btn-sm btn-primary">Ver</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No hay productos disponibles en este momento.</p>
                {% endif %}
            </div>
        </section>
    </main>
{% endblock %}