# Environment
SEVIRUN_ENVIRONMENT=Production
SEVIRUN_MEDIA_DIR=<MEDIA_DIR>

# Django
DJANGO_SECRET_KEY=<DJANGO_SECRET_KEY>

# Resend
RESEND_API_KEY=<RESEND_API_KEY>
EMAIL_FROM=<PRODUCTION_EMAIL>
EMAIL_FROM_NAME="Sevirun"

# RedSys
REDSYS_MERCHANT_CODE=<REDSYS_MERCHANT_CODE>
REDSYS_TERMINAL=<REDSYS_TERMINAL>
REDSYS_SECRET_KEY=<REDSYS_SECRET_KEY>
REDSYS_CURRENCY='978'   # EUR
REDSYS_TRANSACTION_TYPE='0' # Venta
REDSYS_URL=<REDSYS_URL>